.static{
	position:fixed;
	top:auto;
	bottom:0px;
	left:3%;
	right:auto;
	font-size:1em;
}

.animate{
	background: linear-gradient(270deg, #FD746C, #2C3E50);
	background-size: 400% 400%;

	-webkit-animation: GradientAnimation 10s ease infinite;
	-moz-animation: GradientAnimation 10s ease infinite;
	animation: GradientAnimation 10s ease infinite;
}

.whiteback{
	color: #313131;
}

#love{
  color: #7d8184;
}

body{
	text-align:center;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff; /*white*/
	color: #FFFFFF;
	font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
}

body .widget{
	width: 25%;
	height: 500px;
	margin-left: 2%;
	margin-right:2%;
	display: inline-flex;
	outline: #313131 dotted thick;
}

body .widget .title{
	text-transform:uppercase;
	font-size: 2em;
	line-height: 1em;
	display: inline-block;
	width: 100%;
}

body .intro-text {
	padding-top: 200px;
}

body .intro-text .intro-heading {
	font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 8em;
	line-height: 1em;
	margin-bottom: 15px;
}

body .intro-text .intro-subtext {
	font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
	font-weight: 300;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 15px;
}

body .header {
	font-family: 'DINPro-Bold', 'Helvetica', 'sans-serif' ;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 4em;
	line-height: 1em;
	margin-bottom: 15px;
	margin-top: 75px;
}

 @-webkit-keyframes GradientAnimation {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @-moz-keyframes GradientAnimation {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }
 @keyframes GradientAnimation {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
 }